@require '../variables'
time
  margin-bottom: base-line
  // margin-top: -(base-line)
  // color: blue
  opacity: 0.77
  cursor: default
  transition: opacity 0.25s
  &:active
    transition: all 0.24s
    color: red
