@require '../variables'

time
  margin-top: (base-line / 2)
  color: blue
  text-shadow: 0px 0px 0px blue
  display: inline-block
  cursor: default;
  transition: opacity 0.25s
  opacity: 1
  &:active
    transition: opacity 0.24s
    opacity: 1
