@require 'variables'
svg
  height: (base-line * 2.33)
  width: (base-line * 2.33)
  overflow: auto
  outline:none
  fill: black
  stroke: blue
  stroke-width: 1
  &:active
    animation-name: button_click
